<div id="message_<%= message.id %>" class="flex my-2">
  <div id="sender-profile-photo" class="mr-2 size-10 flex-shrink-0">
    <%= profile_photo_tag(message.user, variant: :avatar, class: "size-full rounded-full object-cover") %>
  </div>
  <div id="body" class="text-xs flex-grow">
    <p class="break-words"><%= message.body %></p>
    <span class="text-gray-400 italic">· <%= time_ago_in_words(message.created_at) %> ago</span>
  </div>
</div>
