<div id="message_<%= message.id %>" class="flex my-1">
  <div id="sender-profile-photo" class="mr-1">
    <img src="<%= sender_profile_photo_url %>" class="w-10 h-10 rounded-full object-cover">
  </div>
  <div id="body" class="text-xs">
    <p><%= message.body %></p>
    <span class="text-gray-400 italic">· <%= time_ago_in_words(message.created_at) %> ago</span>
  </div>
</div>