<article class="pl-12 pr-4 pt-4">
  <div class="flex flex-row">
    <div class="user-avatar flex-shrink-0">
      <%= profile_photo_tag(comment.owner, variant: :avatar,
        class: "w-12 h-12 rounded-full overflow-hidden mr-4") %>
    </div>
    <div class="comment-text text-left w-full">
      <div class="comment-body border-none bg-gray-100 rounded-2xl px-4 py-1 inline-block max-w-2/3">
        <p class="text-xs font-bold px-[2px]"><%= comment.owner.username %></p>
        <p class="px-[2px] pb-1"><%= comment.body %></p>
      </div>
      <div class="comment-actions flex pl-4">
        <div class="">
          <p class="text-xs"><%= distance_of_time_in_words(Time.now - comment.created_at) %> ago</p>
        </div>
        <div class="">
          <p class="ml-2 text-xs font-bold opacity-70">Like</p>
        </div>
        <div class="">
          <p class="ml-2 text-xs  font-bold opacity-70">Reply</p>
        </div>
      </div>
    </div>
  </div>
</article>