<div class="flex">
  
  <div class="hidden lg:flex w-full min-w-[280px] max-w-[350px] p-5 text-left">
    <%= render "layouts/sidebar_left" %>
  </div>
  
  <div class="flex-grow shrink md:px-2">
    <section>
      <div class="my-10">
        <%= render partial: 'users', locals: { users: @users } %>
      </div>
    </section>
  </div>

</div>      
