<div class="mt-20">
  <p class="font-medium text-md">Visit the <%= link_to "users index", users_path,
    class: "link link-primary", style: "" %>
    and follow some users to populate your posts index with their posts.</p>
</div>