<div class="flash -ml-2">
  <% flash.each do |type, message| %>
    <% if type == 'notice' %>
      <i class="alert alert-info h-10" style="align-content: center !important;"><%= message %></i>
    <% elsif type == 'alert' %>
      <i class="alert alert-warning content-center! h-10" style="align-content: center !important;"><%= message %></i>
    <% end %>
  <% end %>
</div>
