<div class="flash fixed -mt-[20px] -ml-2">
  <% flash.each do |type, message| %>
    <% if type == 'notice' %>
      <i class="alert alert-info h-10 flex items-center animate-fadeOut"><%= message %></i>
    <% elsif type == 'alert' %>
      <i class="alert alert-warning h-10 flex items-center animate-fadeOut"><%= message %></i>
    <% end %>
  <% end %>
</div>
