  <% flash.each do |type, message| %>
    <% if type == 'notice' %>
      <div class="alert alert-info h-10 animate-fadeOut" style="align-content: center;"><%= message %></div>
    <% elsif type == 'alert' %>
      <div class="alert alert-warning h-10 animate-fadeOut" style="align-content: center;"><%= message %></div>
    <% end %>
  <% end %>
