<h1 class="text-4xl font-extrabold font-helvetica mb-6 bg-clip-text text-2xl
  text-transparent bg-gradient-to-br from-teal-300 from-10% via-purple-500 via-20% to-blue-700 to-50%">
  Welcome to Fakebook
</h1>
<div class="text-md font-helvetica">
  <p>A social media platform, from the creators of; loads of things that have failed, but a few that have worked.</p>
  <ul class="my-4">
    <li>✅&nbsp;&nbsp;Find friends and follow</li>
    <li>✅&nbsp;&nbsp;Make posts and like posts</li>
    <li>✅&nbsp;&nbsp;Real time messsaging</li>
  </ul>
  <p>Sign up and or login to join the fun.</p>
  <p class="mt-4 text-sm text-gray-500">
    <span class="italic">Infringing and brandmark or copyright rules? Tempting passing off claims? – Certainly not sir</span>
    <span class="text-lg">&nbsp;🎩</span>.
  </p>
</div>